*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* stile header e logo */

header{
  height: 170px;
  background-image: url(../img/pattern.png);
  background-color: rgb(28, 174, 237);
  position: relative;
}

.head-title img{
  width: 250px;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

main{
  font-family: 'Times New Roman', Times, serif;
  margin-top: 15px;
  margin-left: 5px;
}

.credits{
  color: rgb(140, 140, 140);
  font-size: 14px;
}

.credits span{
  color: rgb(31, 203, 255);
}

p{
  font-size: 12px;
  font-weight: bold;
}

