*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* stile header e logo */

header{
  height: 170px;
  background-image: url(../img/pattern.png);
  background-color: rgb(28, 174, 237);
  position: relative;
}

.head-title img{
  width: 250px;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

main{
  font-family: 'Times New Roman', Times, serif;
  margin-top: 15px;
  margin-left: 5px;
}

h1{
  font-weight: bold;
  font-size: 30px;
}

.credits{
  color: rgb(140, 140, 140);
  font-size: 14px;
}

.credits span{
  color: rgb(31, 203, 255);
}

/* stile sezione blocco testi */
p,ul{
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-highlighted{
  background-color: yellow;
}

ul{
  margin-left: 12px;
}

/* stile tabella */
table{
  width: 1200px;
  text-align: left;
  border-spacing: 0px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 12px;
}

th{
  background-color: rgb(0, 166, 255);
  color: white;
}

.thcol-1, .thcol-2{
  width: 300px;
}

.thcol-3{
  width: 600px;
}

.tdcol-1, .tdcol-2{
  line-height: 40px;
}

tr{
  background-color: rgb(120, 228, 255);
}

#second-row{
  background-color: white;
}
/* /stile tabella */

/* stile footer */
.title-box{
  color: rgb(140, 140, 140);
  font-size: 14px;
}

.box1, .box2{
  color: white;
  background-repeat: no-repeat;
  font-size: 20px;
  font-weight: bold;
  height: 220px;
  position: relative;
}
.box1{
  background-image: url(../img/monitor.jpg);
}
.box2{
  background-image: url(../img/graph.jpg);
}

.text-box{
  position: absolute;
  top: 10px;
  left: 15px;
}